/* Footer */
.footer {
  background-color: var(--main-background-color);
  padding: 20px;
}

.footer_company_name {
  font-size: 12px;
  padding-bottom: 40px;
}

/* Adress Mob */
.sm_and_adress_container_pc {
  display: none;
}

.sm_and_adress_container_mob {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;
}

.sm_and_adress_headline {
  font-size: 24px;
  font-weight: normal;
}

.addresses_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addresses_list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border: 1px solid var(--main-font-color);
  padding: 10px 10px;
  border-radius: 10px;
}

.addresses_list_item_link {
  font-weight: bold;
}

.addresses_list_item_svg {
  fill: var(--main-font-color);
  width: 20px;
  height: 20px;
}

/* SM */
.sm_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px 10px;
  background-color: var(--main-font-color);
  border-radius: 10px;
  color: var(--main-background-color);
}

.sm_list_headline {
  font-weight: bold;
}

.sm_links_list_item_link {
  line-height: 0;
}

.sm_list_item {
  display: flex;
  gap: 10px;
}

.sm_links_list_item_svg {
  width: 20px;
  height: 20px;
  fill: var(--main-background-color);
  animation: change-color 5s infinite;
}

@keyframes change-color {
  from {
    fill: var(--main-background-color);
  }
  50% {
    fill: white;
  }
  to {
    fill: var(--main-background-color);
  }
}

/* Buisiness Hours */
.business_hours_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.business_hours_headline {
  font-size: 24px;
  font-weight: normal;
}

.business_hours_list_item_hours {
  background-color: var(--main-font-color);
  color: var(--main-background-color);
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    background: var(--main-font-color);
  }

  /* Adress PC */
  .sm_and_adress_container_mob {
    display: none;
  }

  .sm_and_adress_container_pc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sm_and_adress_flex_container_pc {
    display: flex;
    gap: 100px;
  }

  .sm_and_adress_flex_item_pc {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .addresses_list_item {
    gap: 40px;
  }

  /* //////////////////////////////// */

  .addresses_list_item {
    border: none;
    background-color: var(--main-background-color);
  }

  .addresses_list_item_link {
    transition: all 0.3s ease-in-out;
  }
  .addresses_list_item_link:hover {
    color: white;
  }

  .sm_list {
    background-color: var(--main-background-color);
    color: var(--main-font-color);
  }

  .sm_links_list_item_svg {
    fill: var(--main-font-color);
  }

  @keyframes change-color {
    from {
      fill: var(--main-font-color);
    }
    50% {
      fill: white;
    }
    to {
      fill: var(--main-font-color);
    }
  }

  .sm_and_adress_headline {
    color: var(--main-background-color);
  }

  .addresses_list_item_link {
    color: var(--main-font-color);
  }

  .business_hours_list {
    width: 20%;
  }

  .business_hours_list_item_headline {
    color: var(--main-background-color);
  }

  .business_hours_list_item_hours {
    background-color: var(--main-background-color);
    color: var(--main-font-color);
  }
}
