/* Footer */
.footer {
  background-color: var(--main-background-color);
  padding: 20px;
}

.footer_company_name {
  font-size: 12px;
  padding-bottom: 40px;
}

/* Adress */
.sm_and_adress_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;
}

.sm_and_adress_headline {
  font-size: 24px;
  font-weight: normal;
}

.addresses_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addresses_list_item {
  display: flex;
  align-items: center;
  height: 50px;
  border: 1px solid var(--main-font-color);
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--main-font-color);
}

.addresses_list_item_link {
  font-weight: bold;
}

/* SM */
.sm_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px 10px;
  background-color: var(--main-font-color);
  border-radius: 10px;
  color: var(--main-background-color);
}

.sm_list_headline {
  font-weight: bold;
}

.sm_links_list_item_link {
  line-height: 0;
}

.sm_list_item {
  display: flex;
  gap: 10px;
}

.sm_links_list_item_svg {
  width: 20px;
  height: 20px;
  fill: var(--main-background-color);
  animation: change-color 3s infinite;
}
@keyframes change-color {
  from {
    fill: var(--main-background-color);
  }
  50% {
    fill: white;
  }
  to {
    fill: var(--main-background-color);
  }
}

/* Buisiness Hours */
.business_hours_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.business_hours_headline {
  font-size: 24px;
  font-weight: normal;
}

.business_hours_list_item_hours {
  background-color: var(--main-font-color);
  color: var(--main-background-color);
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
