/* Founders */
.founders_section {
  padding: 20px;
  background: rgb(37, 41, 38);
  background: linear-gradient(
    90deg,
    rgba(37, 41, 38, 1) 0%,
    rgba(37, 41, 38, 1) 100%
  );
  border-top: 1px solid var(--main-font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.founders_section_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.founders_section_list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.ceo_member {
  padding-top: 10px;
  padding-bottom: 20px;
  border-top: 1px solid var(--top-background-color);
  border-bottom: 1px solid var(--top-background-color);
}

.founders_section_headline {
  font-size: 24px;
  font-weight: normal;
}

.founders_section_list_item_img {
  border-radius: 10px;
  box-shadow: 0 0 10px var(--top-background-color);
}

.founders_section_list_item_desc {
  text-align: center;
}

/* Quote */
.quote_founders_section_list_item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: justify;
  background-image: linear-gradient(
      90deg,
      rgba(37, 41, 38, 0.9) 0%,
      rgba(37, 41, 38, 0.9) 100%
    ),
    url(../svg/VEDO_logo_oryginal_with_gradient.svg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.quote_founders_section_list_item_headline {
  display: none;
}

.quote_founders_section_list_item_author {
  text-align: end;
}

@media screen and (min-width: 1200px) {
  .founders_section {
    padding: 80px;
    border-top: 2px solid var(--main-font-color);
  }

  .founders_section_list {
    flex-direction: row;
    justify-content: space-between;
  }

  .founders_section_list_item_img {
    width: 100%;
    height: 60vh;
  }

  .quote_founders_section_list_item {
    width: 30%;
    font-size: 32px;
  }
}
