/* Header */
.header {
  background-color: var(--secondary-background-color);
}

.header_nav {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

/* logo */
.main_logo_link {
  stroke: var(--main-font-color);
}

.main_logo_link:hover {
  stroke: white;
}

.main_logo_link_svg {
  width: 40px;
  height: 40px;
  animation: scaled-color-change 3s infinite;
}
@keyframes scaled-color-change {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    stroke: white;
  }
  to {
    transform: scale(1);
  }
}

.main_logo_link_company_container {
  display: none;
}

.mob_menu_btn {
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-font-color);
}
