/* Hero */
.hero_section {
  background-color: var(--top-background-color);
  padding: 60px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero_information_container {
  display: flex;
  flex-direction: column;
}

.hero_headline {
  font-size: 32px;
  font-weight: normal;
  padding-bottom: 20px;
  padding-top: 40px;
}

.hero_btn {
  display: none;
}

/* .hero_btn {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--main-font-color);
  outline: none;
  background: transparent;
  color: var(--main-font-color);
  animation: infinite-shadow-and-color 5s ease-in-out infinite;
}
@keyframes infinite-shadow-and-color {
  0% {
    box-shadow: 0 0 10px var(--main-font-color);
  }
  50% {
    box-shadow: 0 0 15px white;
  }
  100% {
    box-shadow: 0 0 10px var(--main-font-color);
  }
} */

.qxCTlb {
  height: 50px !important;
  border-radius: 10px !important;
  border: 1px solid var(--main-font-color) !important;
  outline: none !important;
  background: transparent !important;
  color: var(--main-font-color) !important;
  animation: infinite-shadow-and-color 5s ease-in-out infinite !important;
}

@keyframes infinite-shadow-and-color {
  0% {
    box-shadow: 0 0 10px var(--main-font-color);
  }
  50% {
    box-shadow: 0 0 15px white;
  }
  100% {
    box-shadow: 0 0 10px var(--main-font-color);
  }
}

.hero_backgroud_img {
  border-radius: 10px;
  box-shadow: 0 0 10px var(--main-font-color);
}

@media screen and (min-width: 1200px) {
  .hero_section {
    padding: 83px 0px 0px 0px;
    height: 100vh;
    gap: 0px;
    flex-direction: row;
    align-items: center;
  }

  .hero_information_container {
    padding-left: 80px;
    width: 100%;
  }

  .hero_headline {
    width: 60%;
    font-size: 80px;
    font-weight: lighter;
    padding-top: 0px;
    padding-bottom: 60px;
  }

  /* .hero_btn {
    width: 60%;
    height: 120px;
    font-size: 24px;
    animation: none;
    transition: all 0.3s ease-in-out;
  }
  .hero_btn:hover {
    background: var(--main-font-color);
    color: var(--top-background-color);
  } */

  .qxCTlb {
    width: 60%;
    height: 120px;
    font-size: 24px;
    animation: none;
    transition: all 0.3s ease-in-out;
  }
  .qxCTlb:hover {
    background: var(--main-font-color);
    color: var(--top-background-color);
  }

  .hero_backgroud_img {
    display: none;
  }

  .hero_backgroud_container {
    height: 100%;
    width: 100%;
    background-image: url(../img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
