/* Hero */
.hero_section {
  background-color: var(--secondary-background-color);
  padding: 20px;
}

.hero_company_name {
  font-size: 12px;
  padding-bottom: 40px;
}

.hero_headline {
  font-size: 32px;
  font-weight: normal;
  padding-bottom: 20px;
}

.hero_btn_list {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.hero_btn {
  padding: 5px 10px;
  border-radius: 25px;
  border: 1px solid var(--main-font-color);
  outline: none;
  background: transparent;
  color: var(--main-font-color);
}

.hero_backgroud_img {
  border-radius: 10px;
}
