/* Hero */
.hero_section {
  background-color: var(--top-background-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero_information_container {
  display: flex;
  flex-direction: column;
}

.hero_headline {
  font-size: 32px;
  font-weight: normal;
  padding-bottom: 20px;
  padding-top: 40px;
}

.hero_btn {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--main-font-color);
  outline: none;
  background: transparent;
  color: var(--main-font-color);
  animation: infinite-shadow-and-color 5s ease-in-out infinite;
}
@keyframes infinite-shadow-and-color {
  0% {
    box-shadow: 0 0 10px var(--main-font-color);
  }
  50% {
    box-shadow: 0 0 15px white;
  }
  100% {
    box-shadow: 0 0 10px var(--main-font-color);
  }
}

.hero_backgroud_img {
  border-radius: 10px;
  box-shadow: 0 0 10px var(--main-font-color);
}
