/* For sale section */
.option_section {
  background-color: var(--main-background-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-top: 1px solid var(--main-font-color);
}

.option_section_headline {
  font-size: 24px;
  font-weight: normal;
}

.options_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.option_section_img_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 75%;
  height: 75%;
  gap: 20px;
}

/* Start ofSwiper */
.swiper {
  width: 100%;
  height: 300px;
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
}

.swiper-pagination-bullet {
  background: black !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
  color: black !important;
}
/* End of Swiper */

.option_section_info_container {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid var(--main-font-color);
  border-bottom: 1px solid var(--main-font-color);
}

.option_section_info_attributes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .options_container {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .option_section {
    padding: 80px;
    border-top: 2px solid var(--main-font-color);
  }

  .swiper {
    height: 60vh;
  }

  .swiper-pagination {
    display: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block !important;
  }
}
