/* Main styles */

@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./for_sale_section.css');
@import url('./contact_us_section.css');
@import url('./for_rent_section.css');
@import url('./feedback_section.css');
@import url('./footer.css');

:root {
  --main-background-color: #000000;
  --secondary-background-color: #252926;
  --main-font-kolor: #af8c53;

  font-family: 'Merriweather' sans-serif;
  line-height: 1.5;
  letter-spacing: 2%;
  font-size: 12px;
  font-weight: 460;
  font-style: normal;

  color: var(--main-font-kolor);
}

.container {
  padding-left: 76px;
  padding-right: 76px;
  width: 100%;
}
